.App {
  display: flex;
  justify-content: center;
}

.header-table{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.header-table-search{
    width: 700px;
    padding-top: 15px;
}

.input-search{
    width: 650px;
    border-radius: 50px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    border:  2px solid #FF69B4;
}

.header-table-logo{
    width: 300px;
    display: flex;
    justify-content: center;
}

.button-logo{
    border: none;
    background-color: white;
    cursor: pointer;
}

.flower-shop-logo{
    color: #708090;
    font-family: Courier New;
    font-weight: 600;
    font-size: 15px;
}

.shop-name-logo-kvetki{
    color: #FF69B4;
    font-family: Courier New;
    font-weight: 900;
    font-size: 35px;
}

.shop-name-logo-bel{
    color: #008000;
    font-family: Courier New;
    font-weight: 900;
    font-size: 35px;
}

.header-table-menu{
    width: 300px;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.menu-button{
    width: 220px;
    height: 40px;
    border-radius: 50px;
    background-color: #FF69B4;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 25px;
    font-family: Courier New;
    font-weight: 400;
}

.dropdown {
    display: inline-block;
}

/* Выпадающее содержимое (скрыто по умолчанию) */
.dropdown-content-menu {
    display: none;
    position: absolute;
    }


.dropdown-content-menu button {
    border-radius: 50px;
    margin-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    height: 40px;
    width: 220px;
    text-align:center;
    cursor: pointer;
    color: #708090;
    border:  2px solid #FF69B4;
}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content-menu button:hover {color:  #FF69B4;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content-menu {display: block;}

.information-basket-line-div{
    background-color: #F5F5F5;
    height: 80px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
}

.shops-location-button{
    width: 350px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
    color: #FF69B4;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    border: none;
}

.shops-location-button:hover {color:  #008000;}

.location-pic{
    width: 25px;
    height: 25px;
    padding-left: 5px;
}


.dropdown-content-shops-location {
    position: absolute;
    display: none;
 }

.dropdown-content-shops-location button {
    border-radius: 50px;
    border:  2px solid #008000;
    font-weight: bold;
    text-decoration: none;
    background-color: white;
    height: 40px;
    width: 260px;
    cursor: pointer;
    color: #FF69B4;
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* Изменение цвета выпадающих ссылок при наведении курсора */
.dropdown-content-shops-location button:hover {color:  #008000;}

/* Показать выпадающее меню при наведении курсора */
.dropdown:hover .dropdown-content-shops-location {
    display: block;
    }

.google-map-pic {
    width: 23px;
    height: 22px;
    margin-left: 7px;
    margin-bottom: 7px;
}

.messengers-pic{
    width: 27px;
    height: 25px;
}

.info-basket-table-td-shops-location{
    padding-top: 20px;
    padding-right: 100px;
}

.info-basket-table-td-messengers{
    padding-top: 25px;
}

.info-basket-table-td-contacts{
    padding-top: 25px;
    padding-left: 100px;
}

.info-basket-table-td-basket{
    padding-top: 15px;
    padding-left: 120px;
}

.messengers-table-button{
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    width: 27px;
}

.contacts-table-td{
    padding-left: 25px;
}

.basket-pic{
    width: 40px;
    height: 38px;
}

.basket-button{
    border: none;
    background-color: #F5F5F5;
    cursor: pointer;
}

.categories-buttons-line-table{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.categories-buttons-pic{
    border-radius: 50%;
    height: 70px;
    width: 75px;
    border:  4px solid #DCDCDC;
    margin-left: 5px;
}

.categories-button{
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.categories-title-div{
    font-size: 14px;
    margin-left: 5px;
}

.hr-line{
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #DCDCDC;
	box-shadow: 0 20px 20px -20px #333;
	width: 95%;
}

.hr-line-for-item-card{
    margin: -30px auto 10px;
	padding: 0;
	height: 50px;
	border: none;
	border-bottom: 1px solid #DCDCDC;
	width: 95%;
}

.flowers-delivery-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
}

.general-page-banner-sale-div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.general-page-banner-sale-button{
    border: none;
    cursor: pointer;
    background-color: white;
}

.item-button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 375px;
    border:  4px solid #DCDCDC;
    cursor: pointer;

}

.item-img{
    width: 200px;
    height: 250px;
    object-fit: cover;
}

.item-title{
    color: #C71585;
    font-size: 17px;
    height: 30px;
    }

.item-price{
    font-size: 16px;
    font-weight: 600;
    padding-top: 20px;
    padding-left: 60px;
    height: 40px;
}

.basket-pic-item{
    width: 30px;
    height: 30px;
}

.item-basket{
    padding-left: 35px;
}

.items-table{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
    margin-left: 50px;
    margin-top: 30px;
}

.btn-show-more-div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-show-more{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #FF69B4;
    color: white;
    border: 1px solid #e7e7e7;
    border-radius: 50px;
    padding: 8px 22px 8px 22px;
    cursor: pointer;
    font-size: 18px;
}

.about-chapter-div{
    background-color: #DCDCDC;
    display: flex;
    justify-content: center;
    align-items: center;
    }

$thumb-size: 16px;

@mixin track-styles {
  appearance: none;
  background: transparent;
  border: transparent;
}

@mixin thumb-styles {
  appearance: none;
  pointer-events: all;
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 0px;
  border: 0 none;
  cursor: pointer;
  background-color: red;

  &:active {
    cursor: pointer;
  }
}

.wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin: 10px calc(#{$thumb-size} / 2);
  padding-top: 1.6rem;
  height: calc(#{$thumb-size});
}

.input-wrapper {
  width: calc(100% + #{$thumb-size});
  margin: 0 calc(#{$thumb-size} / -2);
  position: absolute;
  height: $thumb-size;
}

.control-wrapper {
  width: 100%;
  position: absolute;
  height: $thumb-size;
}

.input {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;

  &::-ms-track {
    @include track-styles;
  }

  &::-moz-range-track {
    @include track-styles;
  }

  &:focus::-webkit-slider-runnable-track {
    @include track-styles;
  }

  &::-ms-thumb {
    @include thumb-styles;
  }

  &::-moz-range-thumb {
    @include thumb-styles;
  }

  &::-webkit-slider-thumb {
    @include thumb-styles;
  }
};

.rail {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  height: 6px;
  border-radius: 3px;
  background: lightgrey;
}

.inner-rail {
  position: absolute;
  height: 100%;
  background: Purple;
  opacity: 0.5;
}

.control {
  width: $thumb-size;
  height: $thumb-size;
  border-radius: 50%;
  position: absolute;
  background: Purple;
  top: 50%;
  margin-left: calc(#{$thumb-size} / -2);
  transform: translate3d(0, -50%, 0);
  z-index: 2;
}

.range-slider-td{
    width: 1000px;
    }

.range-slider-table{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.range-slider-min-value-td{
    padding-top: 20px;
    padding-right: 5px;
    }

.range-slider-max-value-td{
    padding-top: 20px;
    padding-left: 5px;
    }

.symbol{
    color: Purple;
    font-weight: 600;
    font-size: 20px;
    }

.item-card-img-td{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 425px;

    }

.item-card-img{
    width: 340px;
    height: 415px;
    object-fit: cover;
    border-radius: 20px;
}

.item-card-div{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.item-card-desc-td{
    width: 800px;
    padding-left: 20px;
    }

.item-card-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: 450;
    }

.item-card-description{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #708090;
    font-weight: 500;
    margin-top: 10px;
    }

.item-card-desc-tr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    }

.item-card-price{
    color: #FF69B4;
    font-size: 30px;
    font-weight: 500;
    padding-right: 45px;
    }

.btn-group {
    display: flex;
    align-items: center;
    background-color: #fff;
    overflow: hidden;
    border: none;
    margin-right: 45px;
}


.increment-decrement-btn {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FF69B4;
  background-color: #fff;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  border:  2px solid #DCDCDC;
  font-size: 25px;
}

.increment-decrement-btn:hover {
    background-color: #f3f9ff;
}

.increment-decrement-btn-p {
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 1px solid #F5F8FB;
  border-right: 1px solid #F5F8FB;
}

.in-basket-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border: none;
    background-color: #FF69B4;
    color: white;
    font-size: 17px;
    width: 175px;
    height: 37px;
    cursor: pointer;
    margin-right: 45px;
    }

.in-basket-pic{
    width: 28px;
    height: 25px;
    margin-right: 10px;
    }

.buy-with-one-click-button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    border:  2px solid #FF69B4;
    background-color: white;
    color: #FF69B4;
    font-size: 17px;
    width: 215px;
    height: 37px;
    cursor: pointer;
    }

.item-card-table{
    display: flex;
    justify-content: center;
    align-items: center;
    }

.item-card-add-card-balloon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 365px;
    margin-left: 20px;
    background-color: #F8F8FF;
    border:  1px solid #DCDCDC;
    border-radius: 5px;
    color: #FF69B4;
    font-size: 17px;
    cursor: pointer;
    }

.item-card-pic{
    height: 35px;
    width: 35px;
    margin-right: 10px;
    }

.item-card-condition-td{
    display: flex;
    justify-content: left;
    align-items: left;
    width: 240px;
    border:  1px solid #DCDCDC;
    border-radius: 5px;
    height: 150px;
    margin-right: 10px;
    }

.item-card-condition{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    }

.item-card-condition-tr{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    color: #FF69B4;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 10px;
    }

.item-card-condition-desc-tr{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    color: #708090;
    font-weight: 500;
    padding-left: 15px;
    padding-top: 18px;
    }

.item-card-condition-desc-tr-paid{
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 15px;
    color: #708090;
    font-weight: 500;
    }

.description-table{
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    width: 1240px;
    margin-left: 50px;
    padding-bottom: 20px;
    margin-top: 10px;
    }

.description-title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-weight: 450;
    padding-top: 20px;
    padding-bottom: 20px;
    }

.description{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    padding-left: 60px;
    color: #708090;
    font-weight: 450;
    font-size: 17px;
    padding-top: 10px;
    }

.description-ol{
    display: flex;
    justify-content: left;
    align-items: left;
    padding-right: 60px;
    padding-left: 60px;
    color: #708090;
    font-weight: 450;
    font-size: 17px;
    }

.instruction-for-paid{
    display: flex;
    justify-content: left;
    align-items: left;
    padding-right: 60px;
    padding-left: 60px;
    color: #696969;
    font-weight: 650;
    font-size: 17px;
    padding-top: 20px;
    }

.footer-table{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF69B4;
    width: 1240px;
    margin-left: 50px;
    padding-bottom: 30px;
    }

.footer-tr{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    font-size: 15px;
    margin-top: 20px;
    margin-left: 150px;
    }

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 17px;
    }

.footer-td{
    width: 500px;
    padding-top: 30px;
    }

.footer-btn{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    background-color: #FF69B4;
    border: none;
    cursor: pointer;
    width: 200px;
    }

.loc-pic{
    width: 30px;
    height: 30px;
    padding-right: 5px;
    }

.footer-pic{
    width: 30px;
    height: 30px;
    padding-left: 7px;
    padding-right: 5px;
    }

.footer-td-right{
    width: 500px;
    padding-bottom: 234px;
    }

.footer-media-btn{
    display: flex;
    justify-content: left;
    align-items: center;
    color: white;
    background-color: #FF69B4;
    border: none;
    cursor: pointer;
    }

.footer-paid-system-pic{
    width: 50px;
    height: 30px;
    margin-right:10px;
    }

.footer-paid-system-belkart-pic{
    width: 70px;
    height: 30px;
    margin-right:10px;
    }







